body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.hidden {
    display: none;
}

.complete {
    text-decoration: line-through;
}

.not-done {
}

#connectionStatus {
    border-radius: 50%;
    height: .75em;
    width: .75em;
    display: inline-block;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}
